# Do not allow users to browse directories without index files
Options -indexes

# Capture Errors and send to new location
ErrorDocument 404 /pages/404.html
ErrorDocument 403 /pages/404.html
ErrorDocument 401 /pages/404.html